{{ define "main" }}

<div class="overflow-hidden">

    <!-- back link -->
    <div class="mx-auto max-w-8xl">
        <div class="flex px-4 pt-8 pb-10 lg:px-8">
            <a class="flex text-sm font-semibold leading-6 group text-slate-700 hover:text-slate-900 dark:text-slate-200 dark:hover:text-white"
                href="/blog"><svg viewBox="0 -9 3 24"
                    class="w-auto h-6 mr-3 overflow-visible text-slate-400 group-hover:text-slate-600 dark:group-hover:text-slate-300">
                    <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>Go back
            </a>
        </div>
    </div>

    <!-- article -->
    <div class="px-4 sm:px-6 md:px-8">
        <div class="max-w-3xl mx-auto pb-28">
            <main>
                <article class="relative pt-14">

                    <!-- topic and gist -->
                    <p class="pb-4 text-sm"><span class="text-sky-400">{{ .Params.topic | title }}</span> | {{
                        .Params.gist }}</p>

                    <!-- title -->
                    <h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl ">
                        {{ .Title }}</h1>

                    <!-- date -->
                    <div class="text-sm leading-6">
                        <dl>
                            <dt class="sr-only">Date</dt>
                            <dd class="absolute inset-x-0 top-0 text-slate-700 dark:text-slate-400"><time
                                    datetime="2022-09-09T16:24:00.000Z">{{ .Date | time.Format ":date_full" }}</time>
                            </dd>
                        </dl>
                    </div>

                    <!-- author -->
                    <div class="mt-6">
                        <ul class="flex flex-wrap -mx-5 -mt-6 text-sm leading-6">
                            <li class="flex items-center px-5 mt-6 font-medium whitespace-nowrap"><img
                                    src="/img/richard-250x250.jpg" alt=""
                                    class="mr-3 rounded-full w-9 h-9 bg-slate-50 dark:bg-slate-800" decoding="async">
                                <div class="text-sm leading-4">
                                    <div class="text-slate-900 dark:text-slate-200">Richard Lyon</div>
                                    <div class="mt-1"><a href="https://twitter.com/LyonEnergyFtres"
                                            class="text-sky-500 hover:text-sky-600 dark:text-sky-400">{{
                                            .Site.Params.twitter_handle }}
                                        </a></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- content -->
                    <div id="content" class="mt-12 prose prose-slate dark:prose-invert">

                        {{ if isset .Params "summary" }}
                        <div class="text-xl font-semibold">
                            {{ .Summary }}
                        </div>
                        {{ end }}

                        {{ .Content }}
                    </div>
                </article>
            </main>

            <footer class="mt-16">
                <div class="relative"><img src="/_next/static/media/blog-post-form@80.92cf987c.jpg" alt=""
                        class="absolute top-px sm:left-auto sm:right-0 left-1/4 dark:hidden max-w-none" decoding="async"
                        width="476"><img src="/_next/static/media/blog-post-form-dark@90.5b274bea.jpg" alt=""
                        class="absolute hidden top-px -left-1/4 sm:left-0 dark:block max-w-none" decoding="async"
                        width="1429">
                    <section class="relative py-16 border-t border-slate-200 dark:border-slate-200/5">
                        <h2 class="text-xl font-semibold tracking-tight text-slate-900 dark:text-white">Get all of our
                            updates directly to your&nbsp;inbox.<br>Sign up for our newsletter.</h2>
                        <div class="max-w-md mt-5">
                            <form
                                action="https://app.convertkit.com/forms/{{ .Site.Params.convertkit_id }}/subscriptions"
                                method="post" data-sv-form="{{ .Site.Params.convertkit_id }}" data-uid="2fefa7ee5e"
                                data-format="inline" data-version="5" class="flex flex-wrap -mx-2">
                                <div class="px-2 grow-[9999] basis-64 mt-3">
                                    <div class="relative group"><svg viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" aria-hidden="true"
                                            class="absolute inset-y-0 w-6 h-full pointer-events-none left-3 text-slate-400 group-focus-within:text-sky-500 dark:group-focus-within:text-slate-400">
                                            <path
                                                d="M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z">
                                            </path>
                                            <path d="m6 7 6 5 6-5"></path>
                                        </svg><input type="email" name="email_address" required="" autocomplete="email"
                                            aria-label="Email address"
                                            class="block w-full py-2 pl-12 pr-3 leading-5 bg-white border border-transparent rounded-md shadow appearance-none ring-1 ring-slate-900/5 sm:text-sm placeholder:text-slate-400 text-slate-900 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-700/20 dark:ring-slate-200/20 dark:focus:ring-sky-500 dark:text-white"
                                            placeholder="Subscribe via email"></div>
                                </div>
                                <div class="flex px-2 mt-3 grow"><button type="submit"
                                        class="flex-auto px-3 py-2 text-sm font-semibold text-white border-transparent rounded-md shadow bg-sky-500 border-y hover:bg-sky-600 dark:hover:bg-sky-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-300 dark:focus:ring-offset-slate-900 dark:focus:ring-sky-700">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </footer>
        </div>
    </div>


</div>

{{ end }}