<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" {{ printf "content=%q" .Site.Params.description | safeHTMLAttr }} />
<meta property="og:description" {{ printf "content=%q" .Site.Params.description | safeHTMLAttr }} />
<meta name="twitter:description" {{ printf "content=%q" .Site.Params.description | safeHTMLAttr }} />
<meta name="twitter:title" {{ printf "content=%q" .Site.Params.title | safeHTMLAttr }} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="{{ .Site.Params.Author }}">
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<link rel="stylesheet" href="/css/style.css" />
<link href="/img/logo-30x30.png" rel="icon" type="image/x-icon">
<link href="/img/logo-30x30.png" rel="icon" type="image/png" sizes="32x32">
<link href="/img/logo-30x30.png" rel="icon" type="image/png" sizes="16x16">

<meta property="og:title" {{ printf "content=%q" .Site.Params.title | safeHTMLAttr }} />
<title>{{ .Site.Params.title }}</title>

<script src="/js/menu.js"></script>