<meta charset="utf-8">
<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
<link href="/favicon.png" rel="icon" type="image/png">
<link href="/feed.xml" rel="alternate" type="application/atom+xml">
<link href="https://richardlyon.net" rel="canonical">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.Author.Name }}">
<meta name="viewport" content="width=device-width, initial-scale=1">