<div class="pt-20 mb-20 space-y-20 overflow-hidden sm:pt-32 sm:mb-32 sm-space-y-32 md:pt-40 md:mb-40 md:space-y-40">
    <!-- text-indigo-500 bg-indigo-500 text-pink-500 bg-pink-500 text-sky-500 bg-sky-500 -->
    {{- range .Site.Params.services -}}
    <section id="" class="relative">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <!-- <div
                class="w-16 h-16 p-[0.1875rem] rounded-full ring-1 ring-slate-900/10 shadow overflow-hidden bg-{{- .color}} highlight-white/10">
                <div class="aspect-w-1 aspect-h-1 bg-[length:100%] hidden"
                    style="background-image:url(/_next/static/media/constraint-based.c6eb530e.png)"></div>
                <div class="hidden aspect-w-1 aspect-h-1 bg-[length:100%] dark:block"
                    style="background-image:url(/_next/static/media/constraint-based.90d79a51.png)"></div>
            </div> -->
            <h2 class="mt-8 font-semibold text-{{- .color -}}">{{ .supertitle }}</h2>
            <p class="mt-4 text-3xl sm:text-4xl font-extrabold tracking-tight text-slate-50 ">{{
                .title }}.</p>
            <p class="mt-4 max-w-3xl space-y-6 ">{{ .blurb }}</p>
            <a class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-indigo-50 text-indigo-600 hover:bg-indigo-200 hover:text-indigo-700 focus:ring-indigo-500 bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-8"
                href="{{- .url -}}">Learn more<span class="sr-only">, utility-first fundamentals</span><svg
                    class="overflow-visible ml-3 text-indigo-300 group-hover:text-indigo-400 dark:text-slate-500 dark:group-hover:text-slate-400"
                    width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0L3 3L0 6"></path>
                </svg></a>
        </div>
    </section>
    {{ end }}
</div>